:root{
    --base-color:  	#F5F5F5;
    --header-color: #ffffff;
    --blue: #0066FF;
    --primary-color:  #FFEA00 ;
    --header-background: #18181b;
}

*{
    margin: 0;
    padding: 0;
}

.body-container{
    background-color: var(--base-color);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header{
    background-color: var(--header-background);
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sidebar{
    background-color: #0a0a0a;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.sidebar > * {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 18px;
    color: var(--primary-color);
}

.sidebar-middle, 
.sidebar-bottom{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.sidebar-line{
    display: flex;
    align-items: center;
    gap: 32px;
}


.title-line{
    display: flex;
    grid-template-columns: 100px 50px;
    align-items: center;
    gap: 20px;
}

.title-line svg {
    width: 50px;
    fill: var(--primary-color);
}

.sidebar-line svg{
    width: 40px;
    fill: var(--primary-color);
}

.header-top{
    display: grid;
    grid-template-columns: 1fr .3fr;
    gap: 100px;
}
.header-top-left,
.header-bottom-left{
    margin-left: 50px;
}

.header-top-right
.header-bottom-right{
    margin-right: 50px;
    
}

.header-top-left{
    align-self: center;
}

.header-top-right{
    align-self: center;
    display: flex;
    gap: 40px;
}

.header-top-right svg{
    width: 60px;
    fill: var(--primary-color)
}

#search-bar{
    background-color: #000000;
    width: 100%;
    border-radius: 15px;
    height: 30px;
    
}

.avi-container{
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.header-top-right .avi-container{
    width: 60px;
    height: 60px;
}

.name{
    color: var(--primary-color);
    align-self: center;
}

.header-top-right .name{
    font-size: 24px;;
}

.header-bottom{
    display: grid;
    grid-template-columns: 1fr .5fr;
}

.header-bottom-left{
    display: flex;
    gap:25px;
}

.header-bottom-left .avi-container{
    width: 80px;
    height: 80px;
}

.greetings-container h2{
    color: var(--primary-color);
}
.greetings-container h4{
    color: #ffffff;
}

.greetings-container h2{
    margin-top: 10px;
}

.header-bottom-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-bottom-right button{
    background-color: var(--primary-color);
    color: #000000;
    font-size: 24px;
    padding: 12px 24px;
    border-color: #000000;
    outline: none;
    border: none;
    border-radius: 15px;
}
.header-bottom-right button:active{
    background-color: #000000;
    color: var(--primary-color)
}

.content{
    background-color: #d4d4d8;
    display: grid;
    grid-template-columns: 1fr .4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "projects annoucements"
    "projects trending";
    gap: 100px;
    
}

.projects{

    grid-area: projects;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcements{
    grid-area: annoucements;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.projects h2{
    margin-top: 50px;
    margin-left: 30px;
}

.card-container{
    margin-left: 30px;
    margin-bottom: 100px;
    flex: 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    justify-content: center;
}

.card{
    background-color: var(--header-background);
    height: 100%;
    border-radius: 10px;
    padding:10px;
    display: flex;
    flex-direction: column;
    border-left: 8px solid  #ff000d;
    box-shadow:3px 0 20px var(--primary-color);

}

.card h2{
    color: var(--primary-color);
    margin: 10px;
    flex: 1;
}

.card p {
    color: #ffffff;
    font-size: 22px;
    margin: 10px;
    flex: 1;
}

.icon-container{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.card-content{
    flex: 1;
}

.icon-container svg{
    width: 35px;
    fill: var(--primary-color)
}

.announcements h2{
    margin-top: 50px;
}

.announcement-content,
.trending-content{
    background-color: var(--header-background);
    flex: 1;
    margin-right: 30px;
    display: grid;
    padding: 25px;
    align-items: center;
    border-left: 8px solid  #ff000d;
    box-shadow:3px 0 20px var(--primary-color);
}

.announcement-content h4{
    color: var(--primary-color);
    font-size: 20px;
    margin-left: 50px;
}

.announcement-content p{
    margin: 10px;
    color: #ffffff;
    width: 90%;
    font-size: 15px;
    margin-left: 50px;
}

.trending{
    grid-area: trending;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.trending-content{
    margin-bottom: 25px;
    display: grid;
    gap: 20px;
    flex: 1
}

.trending-card{
    display: flex;
    gap:40px;
    margin-left: 40px;
}


.trending-card .avi-container{
    width: 60px;
    height: 60px;

}

.trending-info h4{
    color: #ffffff;
    font-size: 16px;
}

.trending-info h2{
    color: var(--primary-color);
    font-size: 20px;

}